body {
    display: grid;

    grid-template-columns: 0.01fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100vh; /* Устанавливает высоту равной высоте окна просмотра */
    /*overflow: auto; !* Добавляет полосы прокрутки, если содержимое превышает высоту *!*/
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    grid-column-start: 1; /* Начинается в первой колонке */
    grid-column-end: 3;
    grid-row-end: 2;
    position: sticky;
    background-color: #333;
    color: white;
    padding: 1vh 0;
    text-align: center;
    width: 100%; /* Добавлено */
}

footer {
    grid-column-start: 1; /* Начинается в первой колонке */
    grid-column-end: 3;
    grid-row-start: 3;
    z-index: 2;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1vh 0;
    position: sticky;
    right: 0;
    bottom: 0;
    left: 0;
    top: 100%;
    width: 100%; /* Добавлено */
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 1vh;
}



#profile_span > img{
    width: 7vh;
    border-radius: 100vh;
}

.sidenav{
    display: flex;
    flex-direction: column;
    align-items: first baseline;
    height: 100vh;
    width: 0;

    position: sticky;
    z-index: 2;

    top: 0vh;

    left: 0;
    background-color: #333;
    overflow-x: hidden;
    padding-top: 0px;
    transition: 0.5s;
}


.header{
    display: flex;
    height: 5vh;
    align-items: center;
}

#homeMenuicon{
    position: relative;
    margin-left: 1vh;
    height: 5vh;
    width: 5vh;
    font-size: 5vh;
    align-items: center;
    background-color: #d9d9d900;
}


.sidenav p{
    padding: 1vh 1vh 1vh 2.5vh;
    text-decoration: none;
    font-size: 25px;
    margin: 0px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

#home_href_h1 {
    padding: 1vh 1vh 1vh 1vh;
    text-decoration: none;
    display: block;
}

#home_href_h1{
    font-size: 2.5vh;
    position: relative;
    color: #818181;
}
#home_href_h1:hover {
    color: #f1f1f1;
}


.sidenav p:hover {
    color: #f1f1f1;
}


#mainCont {
    position: relative;
    display: flex;
    justify-content:space-between;
    width: 100%;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;

}

/*#WebGrid{*/
/*    display: grid;*/

/*    grid-template-columns: 1fr 1fr;*/
/*    grid-template-rows: 1fr 1fr 1fr;*/
/*}*/