/*.error {*/
/*    color: red;*/
/*    position: relative;*/
/*    left: 0;*/
/*    top: 0;*/
/*}*/
#contact{
    width: 100vw;
    height: 30vh;
}
.reg_form_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5vh;
    position: relative;
}
.reg_label{
    font-size: 2vw;
    font-weight: bold;
    color: #333;
    /*position: relative;*/
    /*left: 0;*/
    /*top: 0;*/
}
.reg_form_div > input{
    width: 100%;
    height: 5vh;
    border-radius: 0.5vw;
    border: 1px solid #333;
    padding-left: 1vw;
    font-size: 2vh;
    color: #333;
}
.reg_form_div > textarea{
    width: 100%;
    height: 10vh;
    border-radius: 0.5vw;
    border: 1px solid #333;
    padding-left: 1vw;
    font-size: 2vh;
    color: #333;
    resize: none;
}
.input_row{
    width: 80vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /*grid-column-gap: 0.2vh;*/
    /*position: relative; !* Добавлено *!*/
}

.error {
    color: red;
    position: relative; /* Изменено */
    left: 0;
    top: 0;
}